body {
    background-color: #0d0d0d;
    color: #d6d1c4;
    font-family: 'cinzel', serif;
}

.navbar {
    background-color: #111;
    border-bottom: 1px solid #3a2f2f;
}

.navbar-brand {
    color: #bfa76f !important;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(#0d0d0d, #1a1a1a);
}

.hero h1 {
    font-size: 3rem;
    color: #cbb27a;
}

.hero p {
    color: #888;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #2e2e2e;
    transition: 0.3s;
}

.Dungeon-price-color {
    color: #bfa76f;
}

.Forgotten-price-color {
    color: #bfa76f;
}

.Ritual-price-color {
    color: #bfa76f;
}

.card:hover {
    transform: scale(1.03);
    border-color: #bfa76f;
}

.card-title {
    color: #cbb27a;
}

.btn-dark-custom {
    background-color: #2a1f1f;
    border: 1px solid #bfa76f;
    color: #bfa76f;
}

.btn-dark-custom:hover {
    background-color: #bfa76f;
    color: #0d0d0d;
}

footer {
    border-top: 1px solid #2a2a2a;
    padding: 20px;
    text-align: center;
    color: #666;
    margin-top: 40px;
}