body {
  background-image: url('../site/img/catacomb_background.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-attachment: fixed;
}

.navbar {
  border-bottom: 1px solid #3a2f2f;
}

.navbar-inicio {
  color: #bfa76f !important;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-contato {
  color: #bfa76f !important;
  justify-content: space-between;
  padding: 10px 20px;
}

.tabela-background {
  padding: 50px 20px;
  background: linear-gradient(#0d0d0d, #1a1a1a);
}

.titulo-contato {
    color: #bfa76f;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 30px;
  }
  
  .tabela-contato {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .tabela-contato th {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .tabela-contato td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .tabela-contato tr:nth-child(even) {
    background-color: #f4f4f4;
  }

  /* Links */
  .tabela-contato a {
    color: #007bff;
    text-decoration: none;
  }
  
  .tabela-contato a:hover {
    text-decoration: underline;
  }

  .center-list {
    color: #bfa76f;
  }